<!doctype html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style> .vertical-center {
      min-height: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      background-color: white
  }
  </style>
</head>

<body>
  <div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container">
      <h1 class="display-3" style="font-weight: 600";>Gistified</h1><hr>
      <p class="lead">Create code snippets with syntax highlight and language recognition</p>
      <a href="/gists" class="btn btn-info" role="button">View all gists</a>
      <a href="/gists/create" class="btn btn-success" role="button">Create new gist</a>
    </div>
  </div>
</body>
